* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url("../assets/header-L.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 2rem;
}
.container-fluid img{
  height: 3rem;
}

h1{
  font-weight: bold;
}