
/* ========== Reset y estilos generales ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


h1{
  font-weight: bold;
}


/* ========== Hero ========== */

.hero {
  background-image: url("../assets/header-L.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 70vh;
  padding: 2rem;
}

/* ========== Navbar ========== */

.container-fluid img{
  height: 3rem;
}


/* ========== Cards de plantas ========== */


.card{
  width: 18rem;
  height: 25rem;
}
.card p{
  font-size: 1rem;
}
.card img{
  height: 12rem;
  width: 100%;
}

/* ========== Call to action ========== */

.calltoaction{
  min-height: 70vh;
}
@media (max-width: 992px){

  .texto-call{
  max-height: 15rem;
  min-height: 200px;
}
}

.foto_call{
  background-image: url("../assets/cuidados.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.foto_call-2{
  background-image: url("../assets/cuidados-2.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* ========== Boostrap ========== */

:root {
  --plant-primary: #2d5f3f;
  --plant-secondary: #7fa88d;
  --plant-light: #f4f7f5;
}

/* ========== Botones personalizados ========== */
.btn-secondary {
  background-color: var(--plant-primary);
  border-color: var(--plant-primary);
}

.btn-secondary:hover {
  background-color: #1e4029;
  border-color: #1e4029;
}